<div class="carousel">
    <ngb-carousel [interval]="2000" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/banner_10.jpg"  alt="Random slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/abuelos2.jpg" alt="Random slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/abuelos3.jpg" alt="Random slide">
            </div>
        </ng-template>

    </ngb-carousel>
</div>
<section class="inicio">
    <div class="inicio__container container">
        <div class="inicio__textos">
            <div class="subtitulo">
                Podria Ser Mi Abuelito
            </div>
            <div class="inicio__parrafo">
                La Fundación Podría ser mi abuelito se aprobó Mediante Resolución Acuerdo No 03-2017 del 29 de mayo del
                2017, tiene como ámbito promover y ejecutar programas y servicios relacionados al cuidado del adulto
                mayor con la finalidad de proteger y contribuir a las restricciones de los derechos sociales en todo su
                ciclo de vida.
                <br>
                <br>
                Esta fundación fue creada por el Ing. Victor David Tipan Gualotuna, donde cree que la
                vida de un abuelito debe ser digna y de calidad, porque ellos son el eje fundamental de la vida se
                maneja con el lema “El cuido de mí, ahora me toca a mí”, haciendo énfasis con aquella población que se
                encuentra en situación de exclusión, discriminación, pobreza y vulnerabilidad, promoviendo, asegurando y
                protegiendo la restitución del ejercicio pleno de sus derechos.
                <br>
                <br>
                Nuestra Fundación trabaja de manera responsable con un equipo capacitado y entregado a la labor de
                encontrar recursos para ayudar a el bienestar de nuestros abuelit@s.

            </div>

        </div>

        <div class="inicio__img">
            <img src="../../../assets/img/podriasermiabuelito_4cambio.jpg" alt="Inicio">
        </div>
    </div>
</section>

<div class="banner__inferior">
    <div class="banner__inferior_text">
        Un abuelo es una persona con plata en el pelo y oro en el corazón.
        <br>
        (anónimo, 2021)
    </div>
    <img src="../../../assets/img/abuelos5.jpg" alt="Podria Ser Mi Abuelito">
    
</div>