<div class="carousel">
    <ngb-carousel [interval]="2000" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/banner_10.jpg"  alt="Random slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/abuelos2.jpg" alt="Random slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/abuelos3.jpg" alt="Random slide">
            </div>
        </ng-template>

    </ngb-carousel>
</div>
<div class="container">
    <div style="padding: 20px 0 0 0;">
        <div class="row" style="padding: 5% 0 0 0;">
            <div class="col-sm" style="text-align: center;">
                <div class="img-mv">
                    <img class="img-mision-vision" src="../../../assets/img/young-woman-holding-elderly-woman-s-hand.jpg"
                        alt="Mision Podria ser mi abuelito">
                </div>
            </div>
            <div class="col-sm">
                <h2 class="texto-titulos">MISIÓN</h2>
                <p class="p-mision-vision"> Mejorar la calidad de vida emocional y afectiva de los adultos mayores a
                    través de víveres perecibles y no perecibles y programas de cuidado e inclusión económica y social,
                    promoviendo su participación activa en nuestra sociedad.</p>
            </div>
        </div>
        <div class="row" style="padding: 5% 0; ">
            <div class="col-sm">
                <h2 class="texto-titulos">VISIÓN</h2>
                <p class="p-mision-vision">La Función podría ser mi abuelo será reconocida como una organización gestora
                    en el fomento de proyectos para mejorar la calidad de vida del adulto mayor </p>
            </div>
            <div class="col-sm" style="text-align: center;">
                <div class="img-mv">
                    <img class="img-mision-vision" src="../../../assets/img/visionp.jpg"
                        alt="Vision pdoria ser mi abuelito">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="valores">

    <div>
        <h2 class="texto-valores" style="color: white; text-align: center; margin: 10px;" >Nuestros valores</h2>
    </div>

    <div class="menu-valores">
        <ul>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion-04.png" alt="Servicios" class="img-valores"></div>
                    Servicio
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/corazon-01.png" class="img-valores"></div> Amor
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion-03.png" class="img-valores"></div>Solidaridad
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion-06.png" class="img-valores" style="width: 70px; height: 70px;"></div>Compromiso
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion-05.png" class="img-valores"></div>Honestidad
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion_Mesa de trabajo 1.png" class="img-valores"></div>Lealtad
                </a></li>
            <li><a>
                    <div><img src="../../../assets/iconos/Iconos fundacion-02.png" class="img-valores"></div>Respeto
                </a></li>
        </ul>
    </div>
</div>
<div class="seccion-qs-2">
    <div class="caja1">
        <h2 style="text-align: center; font-size: 30px; color: #fff; margin: 0 auto; padding: 17%;">
            <i>
            Un jardín de amor crece en el corazón de un abuelo.</i><p>(anónimo, 2021)</p>
        </h2>
    </div>
</div>