<header class="headernuevo">
    <div class="contenedor">
        <nav class="menu">
            <div class="logo1">
                <img src="../../../assets/img/nuevo4.png" [routerLink]="['/home/inicio']"
                    alt="podria ser mi abuelito" title="Podria ser mi abuelito">
            </div>
            <span class="menu-icon">Ver menú</span>
            <div class="enlaces1">
                <ul class="show">
                    <li><a  [routerLink]="['/home/quienessomos']">Quienes somos</a></li>
                    <li><a  [routerLink]="['/home/galeria']">Galería</a></li>
                    <li><a  [routerLink]="['/home/beneficiarios']">Formulario</a></li>
                    <li><a  [routerLink]="['/home/login']">Cursos</a></li>
                    <!-- <li><a href="https://api.whatsapp.com/send?phone=593961044452&text=Hola!%20Quisiera%20más%20información%20sobre%20la%20fundación,%20Gracias." target="_blank">+593 961044452</a></li> -->
                </ul>
            </div>
        </nav>
    </div>
    
</header>