<div class="container__cursos" style="margin-top: 10px;">
    <div class="cursos__container">

            <div class="cursos__card" >

                <div class="cursos__card_title">
                    <h3>NOMBRE CURSO</h3>
                </div>
                <div class="cursos__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error aperiam, repudiandae ipsum animi quis saepe delectus necessitatibus, sapiente sed natus alias cupiditate soluta numquam fugiat consectetur molestiae, sit voluptatum quod fuga qui labore. Aspernatur odit, nisi molestiae architecto doloremque, necessitatibus ea vel neque, veritatis totam similique sint delectus ipsa.
                </div>
                <div class="cursos__card_button">
                    Registrate
                </div>
            </div>
        
            <div class="cursos__card" >

                <div class="cursos__card_title">
                    <h3>NOMBRE CURSO</h3>
                </div>
                <div class="cursos__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error aperiam, repudiandae ipsum animi quis saepe delectus necessitatibus, sapiente sed natus alias cupiditate soluta numquam fugiat consectetur molestiae, sit voluptatum quod fuga qui labore. Aspernatur odit, nisi molestiae architecto doloremque, necessitatibus ea vel neque, veritatis totam similique sint delectus ipsa.
                </div>
                <div class="cursos__card_button">
                    Registrate
                </div>
            </div>
            <div class="cursos__card" >

                <div class="cursos__card_title">
                    <h3>NOMBRE CURSO</h3>
                </div>
                <div class="cursos__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error aperiam, repudiandae ipsum animi quis saepe delectus necessitatibus, sapiente sed natus alias cupiditate soluta numquam fugiat consectetur molestiae, sit voluptatum quod fuga qui labore. Aspernatur odit, nisi molestiae architecto doloremque, necessitatibus ea vel neque, veritatis totam similique sint delectus ipsa.
                </div>
                <div class="cursos__card_button">
                    Registrate
                </div>
            </div>
            <div class="cursos__card" >

                <div class="cursos__card_title">
                    <h3>NOMBRE CURSO</h3>
                </div>
                <div class="cursos__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error aperiam, repudiandae ipsum animi quis saepe delectus necessitatibus, sapiente sed natus alias cupiditate soluta numquam fugiat consectetur molestiae, sit voluptatum quod fuga qui labore. Aspernatur odit, nisi molestiae architecto doloremque, necessitatibus ea vel neque, veritatis totam similique sint delectus ipsa.
                </div>
                <div class="cursos__card_button">
                    Registrate
                </div>
            </div>
            <div class="cursos__card" >

                <div class="cursos__card_title">
                    <h3>NOMBRE CURSO</h3>
                </div>
                <div class="cursos__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error aperiam, repudiandae ipsum animi quis saepe delectus necessitatibus, sapiente sed natus alias cupiditate soluta numquam fugiat consectetur molestiae, sit voluptatum quod fuga qui labore. Aspernatur odit, nisi molestiae architecto doloremque, necessitatibus ea vel neque, veritatis totam similique sint delectus ipsa.
                </div>
                <div class="cursos__card_button">
                    Registrate
                </div>
            </div>

    </div>
</div>